services:

  backend:
    build: ./backend
    container_name: factory-backend
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - mongo
    environment:
      DATABASE_URL: "postgresql+asyncpg://postgres:postgres@postgres:5432/factorydb"
      MONGO_URL: "mongodb://mongo:27017"

  frontend:
    build: ./frontend
    container_name: factory-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: always

  postgres:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: factorydb
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data


  mongo:
    image: mongo:6
    container_name: mongo-db
    ports:
      - "27017:27017"
    volumes:
      - ./mongo-data:/data/db
