version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    restart: always
    environment:
      - DATABASE_URL=postgresql+asyncpg://factory:factory@postgres:5432/factory_yield
      - MONGO_URL=mongodb://mongo:27017
      - MONGO_DB=factory_yield
      - JWT_SECRET_KEY=super-secret-key-change-me
      - JWT_ALGORITHM=HS256
      - JWT_EXPIRE_MINUTES=480
    depends_on:
      - postgres
      - mongo
    ports:
      - "8000:8000"   # optional: backend direct access

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "8080:80"   # http://localhost:8080

  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_USER=factory
      - POSTGRES_PASSWORD=factory
      - POSTGRES_DB=factory_yield
    ports:
      - "5432:5432"

  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
